@import "../../vars.css";

/* ---------- Base ---------- */

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;        
  margin-top: 20px;
}

/* ----------------- SKILLS ----------------- */

.skills {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;        
}

.skill {
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;        /* reduzido */
  height: 100px;
}

.skillImageContainer img {
  width: 60px;
}

.skill p {
  font-size: 18px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

/* ----------------- HISTORY ----------------- */

.history {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;        
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 18px;     
}

.historyItem img {
  width: 140px;      
  display: block;
  padding-bottom: 20px;
  margin: 0 auto;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 24px;
  font-weight: 500;
  align-items: center;
}

.historyItemDetails p {
  font-size: 16px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  font-size: 18px;
  margin-left: 0;
  list-style: none;
  padding: 0;
}

/* ----------------- MOBILE ----------------- */

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  .skills {
    width: 100%;
    justify-content: center;
    gap: 14px;
  }

  .history {
    width: 100%;
    gap: 14px;
  }

  .historyItem {
    flex-direction: column;
    align-items: flex-start;
    padding: 14px;
  }

  .historyItem img {
    width: 100px;
  }

  .historyItemDetails h3 {
    font-size: 20px;
  }

  .historyItemDetails p {
    font-size: 14px;
  }

  .historyItemDetails ul {
    font-size: 16px;
  }
}
